SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USE_SSL=true
IMAP_HOST=imap.gmail.com
IMAP_PORT=993
IMAP_USE_SSL=true
IMAP_USE_TLS=true
EMAIL_USER=test@gmail.com
EMAIL_PASSWORD=<created_app_password_from_https://support.google.com/mail/answer/185833>